* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
}

.tela {
    width: 100%;
    height: auto;
    display: block;
}


.botao {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 65px;

   background: transparent;
    color:transparent;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 10;
}

/* POSIÇÕES VERTICAIS */
.b1 { top: 64%; }
.b2 { top: 71%; }
.b3 { top: 78%; }
.b4 { top: 85%; }

.voltar {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 20;

    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-decoration: none;
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 16px;
}
